#Creatio Base Products Packages
Custom
ActionsDashboard
AnalyticsDashboard
Approval
Base
Base_ENU
BaseProcessDesigner
BaseScoring
BpmonlineCloudIntegration
BusinessRuleDesigner7x
Calendar
CalendarBase
CallMessagePublisher
Completeness
ContentBuilder
CrtAnalyticsDashboard
CrtBase
CrtBaseConsts
CrtCalendar
CrtCall
CrtCloudIntegration
CrtCopilot
CrtCopilotIntentsStudio
CrtCore
CrtCoreBase
CrtDeduplication
CrtDesignerTools
CrtEmailSender
CrtEmailTemplate
CrtESN
CrtESN7x
CrtFeatureToggling
CrtGenAI
CrtLiveEditing
CrtMacrosBase
CrtManagers7x
CrtMessage
CrtML
CrtMLangContent
CrtMobile7x
CrtMobileDesignerTools7x
CrtMobileFreedomUIStylesFor7x
CrtNextStep
CrtNUI
CrtOmnichannelApp
CrtPlatform7x
CrtProcessDesigner
CrtProductivityApp
CrtProductivityCopilot
CrtProductivityMobile
CrtSecurity
CrtSecurity7x
CrtSmsIntegration
CrtSpecification
CrtStudioCopilot
CrtTechnicalUsers
CrtTechUserCreatioALMIntegration
CrtTouchPointBase
CrtUIPlatform
CrtUIPlatform7x
CrtUISwitcher
CrtUIv2
CrtUserLevelSchema
CrtWebFarm
CrtWebForm
CrtWebFormBase
CrtWebhookServiceBase
CrtWizards7x
CSP
CTIBase
CTIVirtualProvider
DcmDesigner
DcmLibrary
Deduplication
DesignerTools
EmailMessagePublisher
EmailMining
EmailsSearch
EmailTemplate
Enrichment
ESN
Exchange
ExchangeListener
ExternalAccess
FacebookIntegration
FeatureToggling
FileImport
Finesse
FolderTree
GlobalSearch
GoogleTagManagerMeasurements
HomePage
IntegrationV2
KnowledgeBase
LandingiIntegration
LDAP
LinkPreview
Managers
Message
MessagePublisher
ML
MLangContent
MLBase
MLProcessDesigner
MLRegression
MLScoring
MLSequencePrediction
MLTextSimilarity
Mobile
MobileDesigner
MobileDesignerTools
NUI
OAuth20
OAuth20Integration
OldGoogleIntegration
OmnichannelMessaging
OpenIdAuth
OSM
PivotTable
Platform
Playbook
ProcessDesigner
ProcessLibrary
ProductCore
ProductCoreMessagePublishers
QueryExecutionRules
RelationshipDesigner
Reports
ServiceDesigner
SocialMessagePublisher
SocialNetworkIntegration
SsoSettings
SSP
SspKnowledgeBase
SspWorkplace
Studio
TaskMessagePublisher
TasksQueue
Timeline
TouchPoints
Translation
TwitterIntegration
UIv2
VisaNotification
WebForm
WebhookService
Wizards
WordReporting
Workplace
XSSProtection
CrtCustomer360AI
CrtC360InUiV2
CrtCustomer360App
CrtCustomer360Mobile